
.container {
  width: 100vw;
}

.top-navbar {
  width: 375px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

.time-class {
  width: 54px;
  height: 21px;
  top: 13px;
  left: 21px;
  padding-left: 15px;
}

.top-bar-image {
  width: 66.66px;
  height: 11.34px;
  top: 17.33px;
  left: 293.67px;
  margin-top: 21px;
}

.navbar {
  width: 375px;
  height: 48px;
  top: 44px;
  padding: 4px, 24px, 4px, 12px;
  display: flex;
  justify-content: space-between;
}

.logo-image {
  width: hug (375px);
  height: hug (604px);
  top: 92px;
  padding: 114px, 24px, 114px, 24px;
  gap: 12px;
}

.rectangle-6 {
  /* width: 51.99px;
height: 9.3px; */
  top: 141.49px;
  left: -34px;
  background: #ebebff;
}

.ellipse-11 {
  margin-bottom: -5px;
  margin-left: -15px;
  top: 161.47px;
  left: 16.04px;
  color: #6070ff;
}

.rectangle-4 {
  top: 165.79px;
  left: 294px;
  color: #ebebff;
}

.left-rectellipse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.ellipse-3 {
  top: 152.24px;
  left: 323px;
  color: #6070ff;
}

.right-rectellipse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-text {
  margin-top: 100px;
  margin-right: 70px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  width: 327px;
  height: 150px;
  color: #172b4d;
}

.body-background {
  background-image: url(images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
}

.text-background {
  margin-left: 35px;
}

.secondary-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  width: 327px;
}

.social-text {
  width: hug (117px);
  height: hug (24px);
  gap: 16px;
}

.social-style {
  display: block;
  margin: 0 auto;
}
